[Unit]
Description=Auto enable Bluetooth discoverable & pairable
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c '\
until bluetoothctl show >/dev/null 2>&1; do \
  sleep 1; \
done; \
bluetoothctl power on; \
bluetoothctl discoverable on; \
bluetoothctl pairable on'

RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
