[Unit]
Description=RFCOMM Bluetooth Server
After=bluetooth.service
Requires=bluetooth.service

[Service]
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/rfcomm watch hci0
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
