# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum
/.idea/vcs.xml
examples/data-channel/node_modules/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/go-webrtc-signal-server.iml
/.idea/modules.xml
/.idea/sonarlint/issuestore/4/4/448f683c76e06e244097ccc35ddc5f1de8a1fca3
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/4/4/448f683c76e06e244097ccc35ddc5f1de8a1fca3
/.idea/sonarlint/securityhotspotstore/index.pb
