<h2>Golang example</h2>

<div class="container_row">
  <video autoplay controls height="500" id="senderVideo" muted width="500"></video>
  <div class="layer2">
    <video autoplay controls height="120" id="receiverVideo" muted width="160"></video>
  </div>
  <br />
  <hr />
  <h2>WebRTC data-channel Chat</h2>
  <div class="container_msg">
    <textarea [(ngModel)]="message" rows="4" placeholder="Type your message here..."></textarea>
    <input type="submit" class="send-button" (keydown.enter)="sendMsg()" (click)="sendMsg()" value="Rtc send"/>
  </div>
  <h4>Received data-channel webrtc messages:</h4>
  <div class="scrollable-container">
    <ul>
      @for (item of listMessage; track item) {
      <li>{{ item }}</li>
      } @empty {
      <li>There are no items.</li>
      }
    </ul>
  </div>
  <hr />

  <h2>WebSocket Chat</h2>
  <button (click)="connectWebsocket()" class="start-call">
    Start the chat websocket && chat with data-channel!
  </button>
  <div class="container_msg">
    <textarea [(ngModel)]="websocketMess" rows="4" placeholder="Type your message here..."></textarea>
    <button class="send-button" (click)="sendWsMessage()">WS Send</button>
  </div>

  <h4>Received websocket messages:</h4>
  <div class="scrollable-container">
    <!-- https://angular.dev/api/core/@for -->
    <ul>
      @for (item of wsMessages; track item.msg) {
      <li>{{ item.from }}: {{ item.msg }}</li>
      } @empty {
      <li>There are no items.</li>
      }
    </ul>

  </div>

</div>
