<h2>YOHOOO</h2>
<button (click)="startCall()" class="start-call">
  Start the call!
</button>

<div class="container_row">
  <video autoplay controls height="500" id="senderVideo" muted width="500"></video>
  <div class="layer2">
    <video autoplay controls height="120" id="receiverVideo" muted width="160"></video>
  </div>
  <br/>
  <hr/>
  <div class="container_msg">
    <h2>WebRTC data-channel Chat</h2>
    <textarea [(ngModel)]="message" rows="4" placeholder="Type your message here..."></textarea>
    <button class="send-button" (click)="sendMsg()">Send RTC msg</button>
  </div>
  <div>
    <h2>WebSocket Chat</h2>
    <button (click)="sendWsMessage()">Send WebSocket msg</button>
  </div>
  <h4>Received data-channel webrtc messages:</h4>
  <div class="scrollable-container">
    <ul>
      <li *ngFor="let msg of receivedMessages">{{ msg }}</li>
    </ul>
  </div>
  <hr/>
  <h4>Received websocket messages:</h4>
  <ul>
    <li *ngFor="let m of wsMessages">{{ m.msg }}</li>
  </ul>
  
</div>
