/* You can add global styles to this file, and also import other style files */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  a {
    color: #bb86fc;
  }

  /* Add more styles as needed */
}
