<a class="nav-link" href="/call;meetingId=07927fc8-af0a-11ea-b338-064f26a5f90a;userId=1">Call via Alice</a>
<br/>
<a class="nav-link" href="/call;meetingId=07927fc8-af0a-11ea-b338-064f26a5f90a;userId=2">Call via Bob</a>
<br/>
<a class="nav-link" href="/call;meetingId=07927fc8-af0a-11ea-b338-064f26a5f90a;userId=3">Call via Joe</a>
<br/>
<a class="nav-link" href="/call;meetingId=07927fc8-af0a-11ea-b338-064f26a5f90a;userId=4">Call via Yến Vy</a>
<br/>
<a class="nav-link" href="/webrtc-v2">Demo self lib version 2.0</a>
<!-- app.component.html -->
<router-outlet></router-outlet>
